span.fancytree-title a {
    text-decoration: none;
    color: #444444;
}
.fancytree-folder span.fancytree-title{
    font-weight: bold;
    font-family: sans-serif;
    color: #444;
}
span.fancytree-title a:visited{
    color: #444444;
}

ul.fancytree-container,.cloud_upload{
    background-color: transparent;
    border: 0;

}
.rpicloud{
    background-color: #ffffff;
    padding: 0px 0 0 0;
    /*border: 1px solid #ddd;*/
    border-radius: 3px;
}
.rpicloud-toolbar{
    display: flex;
    background-color: #ddd;
    justify-content: flex-end;
    padding: 0;
    border-radius: 4px 4px 0px 0px;
}
.rpicloud-toolbar .toolbar-username{
    margin-right: 50px;
}
.help-text{
    font-size:12px!important;
    line-height: 14px;
}

.rpicloud-handle span{
    width: 24px;
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    margin: 1px 1px;
    padding: 2px;
    color: #999;
}
.rpicloud-handle span:hover{
    background: #777777 !important;
    color: white!important;
}
.rpicloud-handle.delete span:hover{
    background: red!important;
}
.rpicloud-handle.upload span:hover{
    background: limegreen!important;
}
.rpicloud-wrapper{
    margin: 10px;
}
.cloud_upload, .cloud_del{
    display: none;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}
.cloud_del .rpicloud-wrapper{
    border: 1px dot-dash red;
    border-radius: 10px;
    padding: 20px;
}
.rpicloud .button{
    padding: 5px;
    margin-right: 20px;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: #ddd;
    color: #444;
}
.rpicloud .button:hover{
    padding: 5px;
    margin-top: -1px;
    margin-right: 20px;
    border: 2px solid grey;
    border-radius: 4px;
}
.rpicloud .button-primary{
    background-color: green;
    border-color: darkgreen;
    color: #fff;
}
.cloud_upload .button-primary:hover{
    background-color: mediumseagreen;
}
.cloud_del .button-primary{
    background-color: red;
    border-color: darkred;
}
.cloud_del .button-primary:hover{
    background-color: orangered;
}
.cloud_del .button-secondary:hover{
    background-color: #eee;
    color: black;
}
.rpicloud-user{
    border-bottom: 1px solid #ddd;
    display: none;
}
.form-field.user-wrapper{
    margin: 10px 50px;
}

.rpicloud input[type="text"]{
    background-color: #efefef;
    color: red;
}

input[type="text"].cloud-upload-dir {
    border: 1px solid #ccc;
    border-radius: 3px;
    color: darkblue;
}
.cloud-upload-label {
    position: absolute;
    background: #eee;
    width: 115px;
    padding: 0 4px;
    color:darkblue;
}
.cloud-upload-file {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 7px 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-radius: 3px;
    background-color: #efefef;
    position: relative;
}
.cloud-upload-file:hover{
    margin-top: -2px;
    border-bottom-width: 2px ;
}
.cloud-upload-file input{
    margin-right: 20px;
    font-size: 14px;
}


details summary{
    font-size: 13px;
}
a.cloud_del {
    float: right;
    color: red;
    width: 26px;
    height: 28px;
    overflow: hidden;
    text-align: right;
    border: 1px solid #c0c0c0;
    padding: 0 8px 5px 0;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 3px;
}
a.cloud_del:hover {
    background-color: #3875d7;
    color: #fff;
}
.rpicloud-log{
    max-height: 200px;
    overflow-x: hidden;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    display: block;
}

.rpicloud-log-wrapper{
    margin: 10px;
}
.rpicloud-log-wrapper li{
    font-size: 90%;
}
